//setup
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap')

:root
    --primary-color: #047aed   
    --secondary-color: #1c3fa8 
    --dark-color: #002240
    --light-color: #f4f4f4
    --success-color: #5cb85c
    --error-color: #d9534f

*
    box-sizing: border-box
    padding: 0
    margin: 0

body
    font-family: 'Lato', sans-serif
    color: #333
    line-height: 1.6
    overflow-x: hidden
ul
    list-style: none
a
    text-decoration: none
    color: #333
h1, h2
    font-weight: 300
    line-height: 1.2
    margin: 10px 0
p
    margin: 10px 0
img
    width: 100%
code, pre
    background-color: #333
    color: #fff
    padding: 10px
    border-radius: 30rem
.hidden
    visibility: hidden
    height: 0
//Navbar
.navbar 
    background-color: var(--primary-color)
    color: #fff
    height: 70px
    ul
        display: flex
        a
            color: #fff
            padding: 10px
            margin: 0 5px
            &:hover
                border-bottom: 2px #fff solid

//Showcase
.showcase
    height: 400px
    background-color: var(--primary-color)
    color: white
    position: relative
    &::after
        content: ''
        position: absolute
        height: 100px
        bottom: -70px
        right: 0
        left: 0
        transform: skewY(-3deg)//!!!Important for effect. You wll need this
        --webkit-transform: skewY(-3deg)
        --moz-transform: skewY(-3deg)
        --ms-transform: skewY(-3deg)
        background: #fff
    h1
        font-size: 40px
    p
        margin: 20px 0
    .grid
        grid-template-columns: 55% 45%
        gap: 30px
        overflow: visible//very useful
        grid-template-columns: 55% 45%
    &-form
        position: relative
        top: 60px
        height: 350px
        width: 400px
        padding: 40px
        z-index: 100
        .form-control
            margin: 30px 0
        input[type='text'], input[type='email']
            border: 0
            border-bottom: 1px solid #b4becb
            width: 100%
            padding: 3px
            font-size: 16px
            &:focus
                outline: none
        input[type='submit']
            position: absolute
            left: 50%
            transform: translate(-50%, 0%)
.showcase-text
    animation: slideInFromLeft 1s ease-in
.showcase-form
    animation: slideInFromRight 1s ease-in

//Stats
.stats
    padding-top: 100px
    animation: slideInFromBottom 1s ease-in
    &-heading
        .my-1
            max-width: 500px
            margin: auto
    .grid
        h3
            font-size: 35px
        p
            font-size: 20px
            font-weight: bold

//cli
.cli
    .grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-rows: repeat(2, 1fr)
        & > *:first-child
            grid-column: 1 / span 2
            grid-row: 1 / span 2

//Cloud
.cloud .grid
    grid-template-columns: 4fr 3fr

//Languages
.languages 
    .flex
        flex-wrap: wrap
    .card
        text-align: center
        margin: 18px 10px 40px 
        transition: transform .5s
        cursor: pointer
        width: 124px
        height: 170px
        &:hover
            transform: translateY(-15px)
        h4
            font-size: 20px
            margin-bottom: 10px
        
    .container
        padding: 0 30px
        margin-top: 6em
        margin-bottom: 8em


//Features
.features-head, .docs-head
    img
        width: 200px 
        justify-self: end
    .grid
        grid-template-columns: 2fr 1fr
.features-sub-head
    img
        width: 350px 
        justify-self: center
    .grid
        grid-template-columns: 2fr 1fr
.features-main 
    .grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(3,)
        padding-bottom: 25px
        & > *:nth-child(1)
            grid-column: 1 / span 3
        & > *:nth-child(2)
            grid-column: 1 / span 2
    .flex
        flex-direction: column
    .card > i
        margin-right: 20px

//Docs
.docs-main
    h3
        margin: 20px 0
    .grid
        grid-template-columns: 1fr 2fr
        align-items: flex-start
    nav li
        font-size: 17px
        padding-bottom: 5px
        margin-bottom: 5px
        border-bottom: 1px solid #ccc
//Foter
.footer .social a
    margin: 0 10px
    i
        transform: scale(1)
        transition: all .5s
    &:hover
        i
            transform: scale(0.9)
//Animations
@keyframes slideInFromLeft
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0)
@keyframes slideInFromRight
    0%
        transform: translateX(100%)
    100%
        transform: translateX(0)
@keyframes slideInFromTop
    0%
        transform: translateY(-100%)
    100%
        transform: translateY(0)
@keyframes slideInFromBottom
    0%
        transform: translateY(100%)
    100%
        transform: translateY(0)
    
//Tablets 
@media screen and ( min-width: 924px )
    .container
        max-width: 1300px
        .languages 
            .card
                width: 100px
                height: 160px
@media screen and ( min-width: 990px )
    .container
        max-width: 1300px
        .languages 
            .card
                width: 130px
                height: 180px
    
@media screen and ( max-width: 768px )
    .grid, .showcase .grid, .stas.grid, .cli .grid, .cloud .grid, .features-main .grid, .docs-main .grid
        grid-template-columns: 1fr 
        grid-template-rows: 1fr
    .showcase
        height: auto
        &-text
            text-align: center
            margin-top: 40px
            animation: slideInFromTop 1s ease-in
        &-form
            justify-self: center//important
            margin: auto
            animation: slideInFromBottom 1s ease-in
    .cli
        .grid > *:first-child
            grid-template-columns: 1
            grid-row: 1
    .features-head, .features-sub-head, .docs-head
        img
            justify-self: center
    .features-main .grid.grid-3
        &>*:first-child, &>*:nth-child(2)
            grid-column: 1 

//Mobile
@media screen and ( max-width: 500px )
    .navbar
        height: 110px
        .flex
            flex-direction: column
        ul
            padding: 10px
            background-color: rgba(0, 0, 0, 0.1)
@media screen and ( max-width: 380px )
    .logo
        font-size: 3em
    .showcase-form    
        max-width: 300px
    .grid .grid-3
        width: 280px
        font-size: 12px
    .stats .grid h3
        font-size: 19px
    .cli
        img
            width: 342px
    .social i
        margin-bottom: 15px